@import "../styles/fonts";
@import "../styles/variables";
@import "../styles/reset";

html {
  font-size: 16px;
  body {
    background-color: antiquewhite;

    .app-header {
      font-size: 18px;
      padding: 18px @side-padding;
      font-family: @regular-font;
      background-color: @primary-lighter;

      .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navbar-burger {
          display: none;

          .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: @secondary;
          }
        }

        .navbar-content {
          display: flex;
          align-items: center;
          >:not(:last-child) {
            margin-right: 4rem;
          }

          .nav-menu {
            .nav-menu__items {
              display: flex;
              align-items: center;
              >:not(:last-child) {
                margin-right:8rem;
              }

              .nav-item {
                &:hover {
                  font-weight: 600;
                }
                &.nav-item__auth {
                  display: none;
                }

                .nav-link {
                  .nav-link__img {
                    display: none;
                  }
                }
              }
            }
          }
        }

        .navbar-user {
          display: flex;
          >:not(:last-child) {
            margin-right: 1rem;
          }

          .navbar-user__column {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;

            .user-link__img {
              border: 2px solid transparent;
              outline: transparent solid 2px;
              &:hover {
                border: 2px solid @primary;
                border-radius: 50%;
              }
              &:focus {
                border: 2px solid @primary;
                border-radius: 50%;
              }
            }
            >:not(:last-child) {
              margin-bottom: 0.4rem;
            }

            .user-link__name {
              &:hover {
                font-weight: 600;
              }
            }

            .setting-link {
              display: flex;
              >:not(:last-child) {
                margin-right: 0.4rem;
              }
              &:hover {
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;

    body {
      .app-header {
        padding: 16px @side-padding-1024;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 768px) {
  html {
    body {
      .app-header {
        font-size: 16px;
        .navbar {
          width: 100%;

          .navbar-burger {
            display: block;
            cursor: pointer;
            margin-right: 1.5rem;
            &.active {
              .bar {
                &:nth-child(2) {
                  opacity: 0;
                }
                &:nth-child(1) {
                  transform: translateY(8px) rotate(45deg);
                }
                &:nth-child(3) {
                  transform: translateY(-8px) rotate(-45deg);
                }
              }
            }
          }

          .navbar-content {
            .nav-menu {
              padding: 2rem 3rem;
              position: fixed;
              left: -100%;
              top: 5rem;
              flex-direction: column;
              background-color: #fff;
              text-align: center;
              transition: 0.3s;
              box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
              &.active {
                left: 3rem;
                box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
              }
              >:not(:last-child) {
                margin-bottom: 14px;
              }

              .nav-menu__items {
                flex-direction: column;
                >:last-child {
                  padding-top: 1rem;
                  border-top: 1px solid @secondary;
                }

                .nav-item {
                  width: 100%;
                  margin: 0 0 1rem 0;
                  &:last-of-type {
                    margin: 0;
                  }
                  &.nav-item__auth {
                    display: block;
                  }

                  .nav-link {
                    width: inherit;
                    display: flex;
                    align-items: center;
                    >:not(:last-child) {
                      margin-right: 1rem;
                    }

                    .nav-link__img {
                      display: inline-flex;
                    }
                  }
                }
              }
            }
          }

          .navbar-user {
            width: inherit;
            justify-content: end;
            >:not(:last-child) {
              margin: 0;
            }

            .navbar-user__column {
              .user-link {
                .user-link__name {
                  display: none;
                }
              }

              .setting-link {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 576px) {
  html {
    body {
      .app-header {
        font-size: 14px;
        padding: 14px 14px;
      }
    }
  }
}
